<div class="row profile">
    <div class="col-sm-4 col-md-3">

        <h1>Détails de l'utilisateur : <%= @user.first_name %>" "<%= @user.last_name %></h1>
        <ul>
          <%= content_tag(:li, ("First Name: " + @user.first_name)) unless @user.first_name.blank? %>
          <%= content_tag(:li, ("Last Name: " + @user.last_name)) unless @user.last_name.blank? %>
        </ul>
    </div>
    <div class="feed">
        <h3>Social Feed Coming</h3>
        <p>Put a couple of lines of text here and see how it scrolls</p>
    </div>
</div>
