<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li role="presentation" class="enabled"><%= link_to 'Acceuil', root_path %> </li>
      <li role="presentation" class="enabled"><%= link_to 'Nouvel article', new_article_path %></li>
      <li role="presentation" class="enabled"><%= link_to 'Administration', admin_session_path%> </li>
      <li role="presentation" class="enabled"><%= link_to 'Tous les articles', articles_path %></li>
        </ul>
      </li>
    </ul>
  <div>
</nav>
